.container {
  display: flex;
}

.sidebar {
  background-color: #ff6666;
  color: white;
  padding: 50px;
  margin: 0;
  height: 100vh;
  font-size: 30px;
}

.sidebar ul{
  list-style: none;
  justify-content: space-evenly;
}

.sidebar il{
  margin: 10rem;
}

.select{
  width: 10px;
  height: 30px;
  margin: 0;
  margin-right: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.menuIcon{
  height: 30px;
  width: auto;
}

.main-content {
  padding: 20px;
  justify-content: center;
}

.main-content .icons{
  color: white;
  height: 2rem;
  width: auto;
}

.main-content button {
   background-color: #ff6666;
   color: white;
   font-size: 20px;
   padding: 20px;
   border-radius:10px;
   border: 0;
   margin:50px;
   margin-top: 0px;
   width: 150px;
   height: 150px;
}

.icon{
  width: 50px;
  height: auto;
}

.sign-out{
  background-color:white;
  color:#ff6666;
  width: 100rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.settings{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 150px;
}

.card {
  color: #ff6666;
  padding: 40px;
  width: 500px;
}

.txt{
  color: #ff6666;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.body {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.btn {
  background-color: #ff6666;
  color: white;
  padding: 10px 20px;
  border: 1px solid #ff6666;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  width: 100px;
}

.btn:hover {
  background-color: white;
  color: #ff6666;
  border-style: 1px solid #ff6666;
}
