<div class="row">
  <div class="col-md-4 mx-auto">
      <div class="card">
          <div class="card-header text-center">
              Sign In
              <div class="card-body">
                  <form (submit)="save()">
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="dateOfBirth" type="date" name="dateOfBirth" id="dateOfBirth" placeholder="Date of Birth" required>
                    </div>
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="bloodGroup" type="text" name="bloodGroup" id="bloodGroup" placeholder="Blood Group" required>
                    </div>
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="height" type="text" name="height" id="height" placeholder="Height" required>
                    </div>
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="weight" type="text" name="weight" id="weight" placeholder="Weight" required>
                    </div>
                      <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
