<div class="container">
  <div class="card">
    <div class="txt">
      Receive Payment
    </div>
    <div class="body">
      <form>
        <div class="form-group">
          <input class="form-control" [(ngModel)]="ptId" type="text" name="ptId" id="ptId"placeholder="Patient ID" required>
        </div>
        <div class="form-group">
          <input class="form-control" [(ngModel)]="amount" type="text" name="amount" id="amount"placeholder="Amount" required>
        </div>
        <div class="form-group">
          <input class="form-control" [(ngModel)]="paymentMethod" type="text" name="paymentMethod" id="paymentMethod"placeholder="Payment Method" required>
        </div>
          <button class="btn" type="submit" (click)="save()">SAVE</button>
          <button class="btn" type="submit" (click)="gotoHome()">BACK</button>
      </form>
    </div>
  </div>
</div>
