<div class="container">
  <div class="card">
    <div class="txt">
      Sign In
    </div>
    <div class="body">
      <form>
        <div class="form-group">
          <input class="form-control" [(ngModel)]="email" type="text" name="email" id="email" placeholder="Email" required autofocus>
        </div>
        <div class="form-group">
          <input class="form-control" [(ngModel)]="password" type="password" name="password" id="password" placeholder="Password" required>
        </div>
          <button class="btn" type="submit" (click)="signIn()">Sign in</button>
          <div class="btnTxt">
            New here? <button class="signupBtn" (click)="gotoSignup()">SIGN UP</button> here
          </div>
      </form>
    </div>
  </div>
</div>
